<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Board</title>
  <link rel="stylesheet" href="/static/index.css">
</head>
<body>
  <h1>익명 게시판</h1>
  <form action="/writting" method="get">
    <input type="submit" value="글쓰기">
  </form>
  <form action="/admin" method="get">
    <input type="submit" value="관리자">
  </form>
  
  <table>
    <thead>
      <tr>
        <td>게시글</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><!--글쓰기 제목 + 링크형식--></td>
      </tr>
    </tbody>
  </table>
</body>
</html>