<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Board</title>
  <link rel="stylesheet" href="/static/writting.css">
</head>
<body>
  <h1>글쓰기</h1>
    <input type="text" value="제목을 입력해 주세요.">
    <textarea name="message" rows="20" cols="50">본문을 입력해 주세요.</textarea>
    
    <form action="/" method="get">
      <input type="submit" value="완료">
    </form>
</body>
</html>